/********** Footer **********/

.footer {
  padding-bottom: 3rem;

  &__text-line {
    text-align: center;
    font-weight: 400 !important;
    color: #000 !important;
    font-size: 1.4rem !important;
  }

  &__address {
    margin-bottom: 3rem !important;
    text-align: center;
    font-weight: 400 !important;
    color: #000 !important;
    font-size: 1.4rem !important;
  }
}

.footer__link {
  color: inherit;
  text-decoration: none;
}
