/************** Text Section ****************/

.text-section {
  max-width: 100%;
  padding: 10rem 2rem 2rem 2rem;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .text-section {
    max-width: 105rem;
    padding-top: 8rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.text-section p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  color: #040404;
}
@media (min-width: 1300px) {
  .text-section p {
    font-size: 2.2rem;
  }
}

.text-section__button {
  width: 300px;
  background: #e55d01;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  padding: 1.3rem 5rem;
  text-decoration: none;
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 1300px) {
  .text-section__button {
    margin-bottom: 0;
  }
}

.text-section__button--big {
  width: 340px;
  max-width: 100%;
  text-align: center;
}
@media (min-width: 1300px) {
  .text-section__button--big {
    width: 340px;
    margin-bottom: 3rem;
  }
}

.text-section__button--x-big {
  max-width: 100%;
  width: 400px;
  text-align: center;
}
@media (min-width: 1300px) {
  .text-section__button--x-big {
    width: 400px;
  }
}

.text-section__button-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  width: 100%;
  align-items: center;
}
@media (min-width: 1300px) {
  .text-section__button-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.text-section__agree {
  line-height: 1.2 !important;
  font-size: 1.4rem !important;
}
@media (min-width: 1300px) {
  .text-section__agree {
    font-size: 1.8rem !important;
  }
}
