<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fast, Online Walk-In Tub Quotes</title>
    <meta
      name="description"
      content="Walk-In Tub World™ offers fast, online quotes and a no-hassle purchasing process. No in-home appointment required. Find out how affordable your project can be today!"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./assets/styles/main.css" />
    <script src="https://kit.fontawesome.com/eb60ad71b4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Header -->
    <header class="main-header u-sm-fixed">
      <div class="container u-align-items-center">
        <div class="header-left">
          <img
            class="logo u-desktop-only"
            src="./assets/media/logo.svg"
            alt="Walk-In Tub World logo"
          />
          <img
            class="logo u-mobile-only"
            src="./assets/media/logo.svg"
            alt="Walk-In Tub World logo"
          />
        </div>

        <div class="header-center u-desktop-only">
          <h4 class="save-big">Fast, Online Quotes</h4>
        </div>

        <div class="header-right">
          <a href="tel:+1-888-681-6080" class="phone-header">888-681-6080</a>
        </div>
      </div>
    </header>

    <!-- Main hero section -->
    <section class="main-hero">
      <div class="container u-flex-column u-flex-lg-row">
        <div class="cta-section">
          <h1 class="main-headline u-desktop-only">
            Get Your Simple &amp;<br />Accurate Quote Now
          </h1>
          <h1 class="main-headline u-mobile-only">
            Fast, Online Quotes
          </h1>

          <!-- Form here -->
          <form class="form" id="main-form">
            <transition name="fade" mode="out-in">
              <!-- Form Step #0 -->
              <div
                key="0"
                v-if="formStep === 0"
                class="form__section form-step--0"
              >
                <p class="form__question" v-html="formStepData[0].question"></p>

                <img
                  class="map-marker"
                  src="./assets/media/icon-marker.png"
                  alt="Map Marker"
                />

                <div class="form__field form__field--md-row">
                  <input
                    v-model="formStepData[0].value"
                    @keyup="resetError"
                    class="form__input-text zip-code"
                    :class="{ error: showError }"
                    type="text"
                    pattern="\d*"
                    v-mask="'#####'"
                    maxlength="5"
                    placeholder="Enter zip code"
                  />
                </div>

                <button
                  v-show="showButton"
                  @click.prevent="increaseFormStep"
                  class="form-step__button"
                  :class="{ 'form-step__button--float': formStep === 0}"
                >
                  {{ buttonText }}
                  <i
                    v-show="showArrow"
                    class="form-step__arrow fas fa-long-arrow-alt-right"
                  ></i>
                </button>
              </div>

              <!-- Form Step #1 -->
              <div
                key="1"
                v-if="formStep === 1"
                class="form__section form-step--1"
              >
                <p class="form__question">
                  {{ formStepData[1].question }}
                </p>

                <div class="form__field">
                  <div class="input-radios">
                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="House"
                        name="property-type"
                        type="radio"
                        class="input-radio__item"
                        id="property-type-house"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="property-type-house"
                        >House</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Condo"
                        name="property-type"
                        type="radio"
                        class="input-radio__item"
                        id="property-type-condo"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="property-type-condo"
                        >Condo</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Mobile home"
                        name="property-type"
                        type="radio"
                        class="input-radio__item"
                        id="property-type-mobile-home"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="property-type-mobile-home"
                        >Mobile home</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <!-- Form Step #2 -->
              <div
                key="2"
                v-if="formStep === 2"
                class="form__section form-step--2"
              >
                <p class="form__question">
                  {{ formStepData[2].question }}
                </p>

                <div class="form__field">
                  <div class="input-radios">
                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="1st floor"
                        name="bathroom-location"
                        type="radio"
                        class="input-radio__item"
                        id="1st-floor"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="1st-floor"
                        >1st floor</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="2nd floor"
                        name="bathroom-location"
                        type="radio"
                        class="input-radio__item"
                        id="2nd-floor"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="2nd-floor"
                        >2nd floor</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="3rd floor"
                        name="bathroom-location"
                        type="radio"
                        class="input-radio__item"
                        id="3rd-floor"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="3rd-floor"
                        >3rd floor</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Basement"
                        name="bathroom-location"
                        type="radio"
                        class="input-radio__item"
                        id="basement"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="basement"
                        >Basement</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <!-- Form Step #3 -->
              <div
                key="3"
                v-if="formStep === 3"
                class="form__section form-step--3"
              >
                <p class="form__question u-h-padding-none">
                  {{ formStepData[3].question }}
                </p>

                <div class="form__field">
                  <div class="input-radios input-radios--column">
                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="2"
                        name="how-many-doors"
                        type="radio"
                        class="input-radio__item"
                        id="2-doors"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="2-doors"
                        >2</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="3"
                        name="how-many-doors"
                        type="radio"
                        class="input-radio__item"
                        id="3-doors"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="3-doors"
                        >3</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="4 or more"
                        name="how-many-doors"
                        type="radio"
                        class="input-radio__item"
                        id="4-or-more-doors"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="4-or-more-doors"
                        >4 or more</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <!-- Form Step #4 -->
              <div
                key="4"
                v-if="formStep === 4"
                class="form__section form-step--4"
              >
                <p class="form__question">
                  {{ formStepData[4].question }}
                </p>

                <div class="form__field">
                  <div class="input-radios input-radios--column">
                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Left side"
                        name="where-faucets"
                        type="radio"
                        class="input-radio__item"
                        id="left-side-faucets"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="left-side-faucets"
                        >Left side</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Right side"
                        name="where-faucets"
                        type="radio"
                        class="input-radio__item"
                        id="right-side-faucets"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="right-side-faucets"
                        >Right side</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Center"
                        name="where-faucets"
                        type="radio"
                        class="input-radio__item"
                        id="center-side-faucets"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="center-side-faucets"
                        >Center</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <!-- Form Step #5 -->
              <div
                key="5"
                v-if="formStep === 5"
                class="form__section form-step--5"
              >
                <p class="form__question">
                  {{ formStepData[5].question }}
                </p>
                <p class="form__sub-question">
                  {{ formStepData[5].subQuestion }}
                </p>

                <div class="form__field">
                  <div class="input-checkboxes">
                    <div class="input-checkbox__block">
                      <input
                        @change="onSelectCheckbox"
                        value="Soaker"
                        v-model="formStepData[5].features"
                        name="what-features"
                        type="checkbox"
                        class="input-checkbox__item"
                        id="feature-soaker"
                      />
                      <label
                        :class="{ error: showError, 'error--alt': showError }"
                        class="input-checkbox__label"
                        for="feature-soaker"
                      >
                        Soaker
                      </label>
                    </div>

                    <div class="input-checkbox__block">
                      <input
                        @change="onSelectCheckbox"
                        value="Water jets"
                        v-model="formStepData[5].features"
                        name="what-features"
                        type="checkbox"
                        class="input-checkbox__item"
                        id="feature-water-jets"
                      />
                      <label
                        :class="{ error: showError, 'error--alt': showError }"
                        class="input-checkbox__label"
                        for="feature-water-jets"
                      >
                        Water jets
                      </label>
                    </div>

                    <div class="input-checkbox__block">
                      <input
                        @change="onSelectCheckbox"
                        value="Air jets"
                        v-model="formStepData[5].features"
                        name="what-features"
                        type="checkbox"
                        class="input-checkbox__item"
                        id="feature-air-jets"
                      />
                      <label
                        :class="{ error: showError, 'error--alt': showError }"
                        class="input-checkbox__label"
                        for="feature-air-jets"
                      >
                        Air jets
                      </label>
                    </div>

                    <div class="input-checkbox__block">
                      <input
                        @change="onSelectCheckbox"
                        value="Aromatherapy"
                        v-model="formStepData[5].features"
                        name="what-features"
                        type="checkbox"
                        class="input-checkbox__item"
                        id="feature-aromatherapy"
                      />
                      <label
                        :class="{ error: showError, 'error--alt': showError }"
                        class="input-checkbox__label"
                        for="feature-aromatherapy"
                      >
                        Aromatherapy
                      </label>
                    </div>

                    <div class="input-checkbox__block">
                      <input
                        @change="onSelectCheckbox"
                        value="Chromotherapy"
                        v-model="formStepData[5].features"
                        name="what-features"
                        type="checkbox"
                        class="input-checkbox__item"
                        id="feature-chromotherapy"
                      />
                      <label
                        :class="{ error: showError, 'error--alt': showError }"
                        class="input-checkbox__label"
                        for="feature-chromotherapy"
                      >
                        Chromotherapy
                      </label>
                    </div>

                    <div class="input-checkbox__block">
                      <input
                        @change="onSelectCheckbox"
                        value="Other"
                        v-model="formStepData[5].features"
                        name="what-features"
                        type="checkbox"
                        class="input-checkbox__item"
                        id="feature-other"
                      />
                      <label
                        :class="{ error: showError, 'error--alt': showError }"
                        class="input-checkbox__label"
                        for="feature-other"
                      >
                        Other
                      </label>
                    </div>
                  </div>
                </div>

                <button
                  v-show="showButton"
                  @click.prevent="increaseFormStep"
                  class="form-step__button"
                  :class="{ 'form-step__button--float': formStep === 0 }"
                >
                  {{ buttonText }}
                  <i
                    v-if="showArrow"
                    class="form-step__arrow fas fa-long-arrow-alt-right"
                  ></i>
                </button>
              </div>

              <!-- Form Step #6 -->
              <div
                key="6"
                v-if="formStep === 6"
                class="form__section form-step--6"
              >
                <p class="form__question">
                  {{ formStepData[6].question }}
                </p>

                <div class="form__field">
                  <div class="input-radios input-radios--column">
                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Gas"
                        name="waterheater-kind"
                        type="radio"
                        class="input-radio__item"
                        id="gas-waterheater"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="gas-waterheater"
                        >Gas</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Electric"
                        name="waterheater-kind"
                        type="radio"
                        class="input-radio__item"
                        id="electric-waterheater"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="electric-waterheater"
                        >Electric</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="I don't know"
                        name="waterheater-kind"
                        type="radio"
                        class="input-radio__item"
                        id="dont-know-waterheater"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="dont-know-waterheater"
                        >I don't know</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <!-- Form Step #7 -->
              <div
                key="7"
                v-if="formStep === 7"
                class="form__section form-step--7"
              >
                <p class="form__question">
                  {{ formStepData[7].question }}
                </p>

                <div class="form__field">
                  <div class="input-radios input-radios--column">
                    <div class="input-radio__block">
                      <input
                        v-model="formStepData[7].gallonNumber"
                        @keyup="resetError"
                        :class="{ error: showError }"
                        class="form__input-text"
                        type="text"
                        placeholder="Enter # of Gallons"
                        v-mask="'###'"
                      />
                    </div>

                    <div class="input-radio__block">
                      <input
                        v-model="formStepData[7].gallonDontKnow"
                        value="I don't know"
                        name="waterheater-capacity"
                        type="checkbox"
                        class="input-radio__item"
                        id="dont-know-waterheater-capacity"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="dont-know-waterheater-capacity"
                        >I don't know</label
                      >
                    </div>
                  </div>
                </div>

                <button
                  v-show="showButton"
                  @click.prevent="increaseFormStep"
                  class="form-step__button"
                  :class="{ 'form-step__button--float': formStep === 0}"
                >
                  {{ buttonText }}
                  <i
                    v-show="showArrow"
                    class="form-step__arrow fas fa-long-arrow-alt-right"
                  ></i>
                </button>
              </div>

              <!-- Form Step #8 -->
              <div
                key="8"
                v-if="formStep === 8"
                class="form__section form-step--8"
              >
                <p class="form__question">
                  {{ formStepData[8].question }}
                </p>

                <div class="form__field">
                  <div class="input-radios input-radios--column">
                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Yes"
                        name="use-wheelchair"
                        type="radio"
                        class="input-radio__item"
                        id="wheelchair-yes"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="wheelchair-yes"
                        >Yes</label
                      >
                    </div>

                    <div class="input-radio__block">
                        <input
                          @change="onSelectRadio"
                          value="No"
                          name="use-wheelchair"
                          type="radio"
                          class="input-radio__item"
                          id="wheelchair-no"
                        />
                        <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="wheelchair-no"
                        >No</label
                      >
                    </div>

                  </div>
                </div>
              </div>

              <!-- Form Step #9 -->
              <div
                key="9"
                v-if="formStep === 9"
                class="form__section form-step--9"
              >
                <p class="form__question">
                  {{ formStepData[9].question }}
                </p>
                <p class="form__sub-question">
                  {{ formStepData[9].subQuestion }}
                </p>

                <div class="form__field">
                  <div class="input-radios input-radios--column">
                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Yes"
                        name="need-bariatric-model"
                        type="radio"
                        class="input-radio__item"
                        id="bariatric-yes"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="bariatric-yes"
                        >Yes</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="No"
                        name="need-bariatric-model"
                        type="radio"
                        class="input-radio__item"
                        id="bariatric-no"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="bariatric-no"
                        >No</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <!-- Form Step #10 -->
              <div
                key="10"
                v-if="formStep === 10"
                class="form__section form-step--10"
              >
                <p class="form__question">
                  {{ formStepData[10].question }}
                </p>
                <p class="form__sub-question">
                  {{ formStepData[10].subQuestion }}
                </p>

                <div class="form__field">
                  <div class="input-radios input-radios--column">
                    <div class="input-radio__block">
                      <input
                        v-model="formStepData[10].bathroomDoorFrameWidth"
                        @keyup="resetError"
                        :class="{ error: showError}"
                        class="form__input-text u-fs-md"
                        type="text"
                        placeholder="Width of bathroom door frame"
                        v-mask="'###'"
                      />
                    </div>

                    <div class="input-radio__block">
                      <input
                        v-model="formStepData[10].bathtubShowerLength"
                        @keyup="resetError"
                        :class="{ error: showError} "
                        class="form__input-text u-fs-md"
                        type="text"
                        placeholder="Length of bathtub/shower"
                        v-mask="'###'"
                      />
                    </div>

                    <div class="input-radio__block">
                      <input
                        v-model="formStepData[10].bathtubShowerWidth"
                        @keyup="resetError"
                        :class="{ error: showError }"
                        class="form__input-text u-fs-md"
                        type="text"
                        placeholder="Width of bathtub/shower"
                        v-mask="'###'"
                      />
                    </div>
                  </div>
                </div>

                <button
                  v-show="showButton"
                  @click.prevent="increaseFormStep"
                  class="form-step__button"
                  :class="{ 'form-step__button--float': formStep === 0}"
                >
                  {{ buttonText }}
                  <i
                    v-show="showArrow"
                    class="form-step__arrow fas fa-long-arrow-alt-right"
                  ></i>
                </button>
              </div>

              <!-- Form Step #11 -->
              <div
                key="11"
                v-if="formStep === 11"
                class="form__section form-step--11"
              >
                <p class="form__question">
                  {{ formStepData[11].question }}
                </p>

                <div class="form__field">
                  <div class="input-radios input-radios--column">
                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Cash or check"
                        name="payment-method"
                        type="radio"
                        class="input-radio__item"
                        id="cash-or-check"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="cash-or-check"
                        >Cash or check</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Credit card"
                        name="payment-method"
                        type="radio"
                        class="input-radio__item"
                        id="credit-card"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="credit-card"
                        >Credit card</label
                      >
                    </div>

                    <div class="input-radio__block">
                      <input
                        @change="onSelectRadio"
                        value="Financed monthly payments"
                        name="payment-method"
                        type="radio"
                        class="input-radio__item"
                        id="financed-monthly-payments"
                      />
                      <label
                        :class="{ error: showError }"
                        class="input-radio__label"
                        for="financed-monthly-payments"
                        >Financed monthly payments</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <!-- Form Step #12 -->
              <div
                key="12"
                v-if="formStep === 12"
                class="form__section form-step--12"
              >
                <p class="form__question">
                  {{ formStepData[12].question }}
                </p>
                <p class="form__sub-question">
                  {{ formStepData[12].subQuestion }}
                </p>

                <div class="form__field">
                  <div class="add-photos">
                    <div class="add-photo">
                      <div class="add-photo__photo-box">
                        <div class="add-photo__photo" :class="{ 'error--photo': showError }">
                          <input
                            id="bathtub-shower-take"
                            type="file"
                            accept="image/*"
                            hidden
                          />
                          <img
                            @click="bathtubShowerTakePhoto"
                            :src="formStepData[12].bathtubShowerPhoto.url"
                            :class="{ error: showError }"
                            id="add-photo__bathtub-shower"
                            alt=""
                            width="75"
                            height="50"
                          />

                          <img v-if="showSpinner1" width="50" height="50" class="spinner" src="./assets/media/spinner.svg" alt="Spinner">
                        </div>
                        

                        <div class="add-photo__retake">
                          <span
                            v-if="formStepData[12].bathtubShowerPhoto.retakeVisible"
                            @click="bathtubShowerTakePhoto"
                            >retake</span
                          >
                        </div>
                      </div>

                      <span class="add-photo__text">
                        of bathtub/shower
                      </span>
                    </div>

                    <div class="add-photo">
                      <div class="add-photo__photo-box">
                        <div class="add-photo__photo" :class="{ 'error--photo': showError }">
                          <input
                            id="bathroom-door-frame-take"
                            type="file"
                            accept="image/*"
                            hidden
                          />
                          <img
                            @click="bathroomDoorFrameTakePhoto"
                            :src="formStepData[12].bathroomDoorFramePhoto.url"
                            :class="{ error: showError }"
                            id="add-photo__bathroom-door-frame"
                            alt=""
                            width="75"
                            height="50"
                          />

                          <img v-if="showSpinner2" width="50" height="50" class="spinner" src="./assets/media/spinner.svg" alt="Spinner">
                        </div>

                        <div class="add-photo__retake">
                          <span
                            v-if="formStepData[12].bathroomDoorFramePhoto.retakeVisible"
                            @click="bathroomDoorFrameTakePhoto"
                            >retake</span
                          >
                        </div>
                      </div>

                      <span class="add-photo__text">
                        of bathroom door frame
                      </span>
                    </div>

                    <div class="add-photo">
                      <div class="add-photo__photo-box">
                        <div class="add-photo__photo" :class="{ 'error--photo': showError }">
                            <input
                              id="water-heater-photo"
                              type="file"
                              accept="image/*"
                              hidden
                            />
                            <img
                              @click="waterHeaterTakePhoto"
                              :src="formStepData[12].waterHeaterPhoto.url"
                              id="add-photo__water-heater"
                              alt=""
                              width="75"
                              height="50"
                            />

                            <img v-if="showSpinner3" width="50" height="50" class="spinner" src="./assets/media/spinner.svg" alt="Spinner">
                        </div>

                        <div class="add-photo__retake">
                          <span
                            v-if="formStepData[12].waterHeaterPhoto.retakeVisible"
                            @click="waterHeaterTakePhoto"
                            >retake</span
                          >
                        </div>
                      </div>

                      <span class="add-photo__text">
                        of water heater
                      </span>
                    </div>
                  </div>
                </div>

                <button
                  v-show="showButton"
                  @click.prevent="increaseFormStep"
                  class="form-step__button"
                >
                  {{ buttonText }}
                  <i
                    v-show="showArrow"
                    class="form-step__arrow fas fa-long-arrow-alt-right"
                  ></i>
                </button>
              </div>

              <!-- Form Step #13 -->
              <div key="13" v-if="formStep === 13" class="form__section">
                <p class="form__question">
                  {{ formStepData[13].question }}
                </p>

                <div class="form__field">
                  <div class="input-radios input-radios--column">
                    <div class="input-radio__block">
                      <input
                        v-model="formStepData[13].firstName"
                        @keyup="resetError"
                        :class="{ error: showError }"
                        class="form__input-text first-name"
                        type="text"
                        placeholder="First name"
                      />
                    </div>

                    <div class="input-radio__block">
                      <input
                        v-model="formStepData[13].lastName"
                        @keyup="resetError"
                        :class="{ error: showError }"
                        class="form__input-text last-name"
                        type="text"
                        placeholder="Last name"
                      />
                    </div>

                    <div class="input-radio__block">
                      <input
                        v-model="formStepData[13].streetAddress"
                        @keyup="resetError"
                        :class="{ error: showError }"
                        class="form__input-text last-name"
                        type="text"
                        placeholder="Street address"
                      />
                    </div>

                    <div class="floating-address">
                      <img
                        src="./assets/media/icon-marker-small.png"
                        alt="Small marker"
                        style="margin-right: 1rem"
                      />
                      <span class="floatingAddress__city">{{ city }},&nbsp;</span>
                      <span class="floatingAddress__state"
                        >{{ stateAbbreviation }}
                      </span>
                      <span class="floatingAddress__state"></span>
                        &nbsp; {{ stateZipCode }}
                      </span>
                    </div>
                  </div>
                </div>

                <button
                  v-show="showButton"
                  @click.prevent="increaseFormStep"
                  class="form-step__button"
                  :class="{ 'form-step__button--float': formStep === 0}"
                >
                  {{ buttonText }}
                  <i
                    v-show="showArrow"
                    class="form-step__arrow fas fa-long-arrow-alt-right"
                  ></i>
                </button>
              </div>

              <!-- Form Step #14 -->
              <div
                key="14"
                v-if="formStep === 14"
                class="form__section form-step--6"
              >
                <p class="form__question">
                  {{ formStepData[14].question }}
                </p>

                <div class="form__field">
                  <div class="input-radios input-radios--column">
                    <div class="input-radio__block">
                      <span class="form__input-text--phone">
                        <input
                          v-model="formStepData[14].phoneNumber"
                          @keyup="resetError"
                          :class="{ error: showError }"
                          v-mask="'(###) ###-####'"
                          class="form__input-text phone-number"
                          type="text"
                          placeholder="Phone"
                        />
                      </span>
                    </div>

                    <div class="input-radio__block">
                      <span class="form__input-text--email">
                        <input
                          v-model="formStepData[14].emailAddress"
                          @keyup="resetError"
                          :class="{ error: showError }"
                          class="form__input-text email-address"
                          type="text"
                          placeholder="Email"
                        />
                      </span>
                    </div>
                  </div>
                </div>

                <button
                  v-show="showButton"
                  @click.prevent="increaseFormStep"
                  class="form-step__button"
                  :class="{ 'form-step__button--float': formStep === 0}"
                >
                  {{ buttonText }}
                  <i
                    v-if="showArrow"
                    class="form-step__arrow fas fa-long-arrow-alt-right"
                  ></i>
                </button>
                <p v-show="showConfirmation" class="confirmation">
                  By clicking the Get Quote button you agree to authorize Walk-In Tub World and it's partners to call, email and text message you on the phone number you provided, using automated technology. Your consent does not require purchase.
                </p>
              </div>
            </transition>
          </form>
        </div>
      </div>
    </section>

    <!-- Badges -->
    <section class="badges">
      <img
        class="badges__badge"
        src="./assets/media/step-1-badge.png"
        alt="Answer a few questions"
      />
      <img
        class="badges__badge"
        src="./assets/media/step-2-badge.png"
        alt="Post a few photos"
      />
      <img
        class="badges__badge"
        src="./assets/media/step-3-badge.png"
        alt="Get a Fast, Free quote"
      />
    </section>

    <!-- Why Love Section -->
    <div class="why-love">
      <div class="why-love__container">
        <h3 class="why-love__heading">
          Once we review your requirements, we will send you a written quote.<br
            class="u-desktop-only"
          />
          Yes, it’s that easy.
        </h3>
        <h3 class="why-love__heading">
          Why does everyone love Walk-In Tub World&#8482;?
        </h3>
        <ul class="why-love__list">
          <li class="why-love__list-item">
            No 2-3 hour sales presentations in your living room.
          </li>
          <li class="why-love__list-item">
            No pressure to buy on the spot.
          </li>
          <li class="why-love__list-item">
            No special 1 time discounts – our price is our price.
          </li>
          <li class="why-love__list-item">
            Only work with your account manager and our qualified installers.
          </li>
        </ul>
        <p class="why-love__content">
          The cost of your walk-in tub will depend on installation factors like
          your current bathroom layout, electrical and plumbing configuration,
          the size of the tub, and the features that work best for you. We are confident our
          quality is second to none, our prices are more affordable than other
          companies, and that you will find our process hassle-free.
        </p>
      </div>
    </div>

    <!-- Featured -->
    <div class="featured">
      <div class="featured__container">
        <img
          class="featured__item"
          src="./assets/media/lifetime-warranty-badge.png"
          alt="Lifetime warranty badge"
        />
        <img
          class="featured__item"
          src="./assets/media/tub-photo-1.png"
          alt="Bathtub photo 1"
        />
        <img
          class="featured__item"
          src="./assets/media/tub-photo-2.png"
          alt="Bathtub photo 2"
        />
        <img
          class="featured__item"
          src="./assets/media/tub-photo-3.png"
          alt="Bathtub photo 3"
        />
        <img
          class="featured__item"
          src="./assets/media/expert-install-badge.png"
          alt="Lifetime warranty badge"
        />
      </div>
    </div>

    <!-- Footer -->
    <section class="footer">
      <div class="container u-flex-column">
        <p class="footer__text-line">
          © 2020 Walk-In Tub World&#8482; | All Rights Reserved |
          <a class="footer__link" href="./privacy-policy/"
            >Privacy Policy</a
          >
          <img
            src="./assets/media/full-checkbox.png"
            alt="Full checkbox"
            style="display: none;"
          />
        </p>
      </div>
    </section>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-storage.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyCcjNFM4M0vW8PqqtiwhcxDwZzifI5-ULk",
        authDomain: "walkin-tubworld.firebaseapp.com",
        databaseURL: "https://walkin-tubworld.firebaseio.com",
        projectId: "walkin-tubworld",
        storageBucket: "walkin-tubworld.appspot.com",
        messagingSenderId: "316091485536",
        appId: "1:316091485536:web:96e81720c35a93992c2205",
      }
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig)
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="assets/scripts/app.js"></script>
  </body>
</html>
