/********** Form **********/

/********** Form Content **********/

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 1rem;
}

.form__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 48rem;
  height: 48rem;
}
@media (min-width: 1300px) {
  .form__section {
    min-height: 40vh;
    height: 40vh;
  }
}

.form__section.form__step--0 {
  justify-content: space-between;
}

/* Form question */

.form__question {
  font-size: 2.2rem;
  max-width: 400px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #555;
  text-align: center;
  font-weight: 400;
  margin-bottom: 3rem;
}
@media (min-width: 1300px) {
  .form__question {
    max-width: 100%;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 3rem;
    text-shadow: none;
    padding: 0 6rem;
  }
}

.form__question--sm {
  font-size: 2rem;
  max-width: 400px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #555;
  text-align: center;
  font-weight: 400;
  margin-bottom: 3rem;
}
@media (min-width: 1300px) {
  .form__question--sm {
    max-width: 100%;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 3rem;
    text-shadow: none;
    padding: 0 6rem;
  }
}

/* Form subquestion */

.form__sub-question {
  font-size: 1.6rem;
  max-width: 400px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #555;
  text-align: center;
  font-weight: 400;
  margin-bottom: 3rem;
  margin-top: -3rem;
}
@media (min-width: 1300px) {
  .form__sub-question {
    max-width: 100%;
    font-size: 2.4rem;
    font-weight: 300;
    text-shadow: none;
    padding: 0 6rem;
  }
}

/* Form field */

.form__field {
  position: relative;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1300px) {
  .form__field {
    width: 450px;
    max-width: 450px;
  }
}

.form__field--md-row {
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1300px) {
  .form__field--md-row {
    flex-direction: row;
    height: auto;
    min-height: auto;
    width: 300px;
    max-width: 300px;
  }
}

.form__field--address {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 1300px) {
  .form__field--address {
    margin-bottom: 1.5rem;
  }
}

/* Form input */

.form__input-text {
  font-size: 1.8rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #3e3e3f;
  border: hidden;
  outline: none;
  width: 100%;
  margin-bottom: 2.375rem;
  padding: 8px;
  border-radius: 4px;
  position: relative;
}
@media (min-width: 1300px) {
  .form__input-text {
    font-size: 2rem;
    padding: 10px;
    width: 100%;
    border: hidden;
  }
}

/* Placeholder */
::placeholder {
  color: #3e3e3f;
}

/* Specific fields */

.street-address {
  margin-bottom: 1rem;
  width: 100%;
}

.city {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 1300px) {
  .city {
    width: 60%;
    margin-bottom: 0;
  }
}

.state {
  width: 30%;
}
@media (min-width: 1300px) {
  .state {
    width: 15%;
    margin-bottom: 0;
  }
}

.zip-prefilled {
  width: 65%;
}
@media (min-width: 1300px) {
  .zip-prefilled {
    width: 20%;
    margin-bottom: 0;
  }
}

.first-name {
  margin-bottom: 1rem;
  width: 100%;
}

.last-name {
  margin-bottom: 1rem;
  width: 100%;
}

.phone-number {
  position: relative;
  margin-bottom: 1.5rem;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.form__input-text--phone {
  position: relative;
}

.form__input-text--email {
  position: relative;
}

/********** Button **********/
.form-step__button {
  position: relative;
  margin-top: auto;
  background: #e55d01;
  color: #ffffff;
  width: 240px;
  height: 50px;
  color: #ffffff;
  font-size: 2.6rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 0.4rem 3rem;
  border: none;
  border-radius: 4px;
  letter-spacing: -0.5px;
  cursor: pointer;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  outline: none;
  max-width: 100%;
  width: 100%;
}

@media (min-width: 1300px) {
  .form-step__button {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 3.6rem;
    max-width: 30rem;
    width: 30rem;
    height: 5rem;
    line-height: 0;
  }
}

.form-step__arrow {
  color: #ffffff;
  margin-left: 2rem;
}

/*********** Other form content *************/

.confirmation {
  margin-top: 1.4rem;
  position: absolute;
  bottom: -8rem;
  width: 100%;

  color: #fff;
  margin-top: 0.5rem;
  text-align: left;
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 0;
  line-height: 1.2;
}
@media (min-width: 1300px) {
  .confirmation {
    bottom: -4rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 0 5rem;
  }
}

/********** Thank you  **********/

.thank-you {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  min-height: 500px;
}

.thank-you p,
.thank-you + p {
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 1px 1px black;
  margin-bottom: 1.25rem;
  font-weight: 700;
}
@media (min-width: 1300px) {
  .thank-you p,
  .thank-you + p {
    font-size: 2.8rem;
    font-weight: 300;
    margin-bottom: 3rem;
    padding-left: 3rem;
  }
}

/********** Errors **********/

.error {
  box-shadow: inset 0 0 0 5px #f3403d;
  color: #f3403d !important;
  -webkit-box-shadow: inset 0 0 0 5px #f3403d;
  -webkit-appearance: none;
}
.error::-webkit-input-placeholder {
  /* Edge */
  color: #f3403d;
}
.error:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f3403d;
}
.error::placeholder {
  color: #f3403d;
}

.error--alt {
  color: #ffffff !important;
}
.error--alt::-webkit-input-placeholder {
  /* Edge */
  color: #ffffff;
}

.error--alt:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}
#ffffff .error--alt::placeholder {
  color: #ffffff;
}

.error-message {
  position: absolute;
  top: -20px;
  z-index: 3;
  color: f3403d;
  background: white;
  padding: 0.3rem;
  font-size: 0.75rem;
}
