/************** Input checkboxes **************/

.input-checkboxes {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1300px) {
  .input-checkboxes {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.input-checkbox__block {
  position: relative;
  width: 100%;
  margin-bottom: 1.2rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 1300px) {
  .input-checkbox__block {
    width: 48%;
    margin-bottom: 1.8rem;
  }
}

.input-checkbox__item {
  display: none;
}

.input-checkbox__label {
  padding: 0 2rem 0 0;
  font-size: 1.8rem;
  color: $color-white;
  text-shadow: 1px 1px 1px #555;
  cursor: pointer;
}
@media (min-width: 1300px) {
  .input-checkbox__label {
    font-size: 2rem;
    text-shadow: none;
  }
}

// Features font size
@media (min-width: 1300px) {
  .input-checkbox__label--featured {
    font-size: 1.6rem !important;
    padding-right: 0 !important;
  }
}

.input-checkbox__item + label:before {
  position: relative;
  top: 5px;
  content: url("../media/empty-checkbox.png");
  transform: translateZ(0);
}

.input-checkbox__item:checked + label:before {
  position: relative;
  top: 5px;
  content: url("../media/full-checkbox.png");
  transform: translateZ(0);
}
